<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Shoe Store</title>
</head>
<body>
<div class="container">
<h1><a href="/">Shoe Store</a></h1>

<h3><a href="/stores">Store List:</a></h3>
   <button><a href="/add_store">Add store</a></button>
 <br>

<br>

<h3><a href="/brands">Brand List:</a></h3>
	<button><a href="/add_brand">Add brand</a></button>
<br>

</div>
</body>
</html>
