<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Shoe Store</title>
</head>
<body>
<div class="container">
<h1><a href="/">Shoe Store</a></h1>

<h3>Store List:</h3>
   <button><a href="/add_store">Add store</a></button>
 <br>
	{% if stores is not empty %}
	<h5>Click on any store to see a list of brands carried.</h5>
	<ul>
		{% for store in stores %}
		<li><a href="/stores/ {{ store.getId }}">{{ store.getStoreName }}</a></li>
		{% endfor %}
	</ul>	
	<form action="/delete_stores" method="post">
		<button type='submit'>Delete All Stores</button>
	</form>	
	{% endif %}	
<br>

<h3>Brand List:</h3>	
	<button><a href="/add_brand">Add brand</a></button>
<br>
	{% if brands is not empty %}
	<h5>Click on any brand to see which stores carry it.</h5>
	<ul>
		{% for brand in brands %}
		<li><a href="/brands/ {{  brand.getId }}">{{ brand.getBrandname}}</a></li>
		{% endfor %}
	</ul>
	<form action="/delete_brands" method="post">
		<button type= 'submit'>Delete All Brands</button>	
	</form>	
	{% endif %}
</div>	
</body>
</html>