<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Shoe Store</title>
</head>
<body>
    <div class="container">
        <h1><a href="/">Shoe Store</a></h1>
        <h2>{{ store.getName }}</h2>
        <h3>Update your store</h3>
    		<form action="/stores/{{ store.getId }}" method= "post">
    			<input name= "_method" type="hidden" value= "patch">
    			<label for 'store_name'>New store name:</label>
    			<input id="store_name" name="store_name" type="text" autofocus="autofocus">
    			<button type="submit">Submit</button>
    		</form>

            <form action="/stores/{{ store.getId }}" method="post">
                    <input name="_method" type="hidden" value="delete">
                    <button type="submit" class="btn">Delete this store</button>
            </form>

            <h6><a href = '/stores'>Store list</a></h6>

        	<button><a href="/">Home</a></button>
    </div>
</body>
</html>
