<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Shoe Store</title>
</head>
<body>

<div class="container">
    <h1><a href="/">Shoe Store</a></h1>

    <h3>Store List:</h3>
       <button><a href="/add_store">Add store</a></button>
     <br>
        {% if stores is not empty %}
        <h5>Click on any store to see a list of brands carried.</h5>
        <ul>
            {% for store in stores %}
            <li><a href="/stores/ {{ store.getId }}">{{ store.getStoreName }}</a></li>
            {% endfor %}
        </ul>
        <form action="/delete_stores" method="post">
            <button type='submit'>Delete All Stores</button>
        </form>

    <br>

	{% else %}
	<p> There are no stores yet.  Add one now.</p>
	{% endif %}


    <button><a href="/">Home</a></button>
</div>
</body>
</html>
