<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Shoe Store</title>
</head>
<body>

<div class="container">
    <h1><a href="/">Shoe Store</a></h1>

    <h3>{{ store.getName }}:</h3>
        {% if brands is not empty %}
        <h5>The following brands are available:</h5>
        <ul>
            {% for brand in brands %}
            <li><a href="/brand/ {{ brand.getId }}">{{ brand.getBrandName }}</a></li>
            {% endfor %}
        </ul>
        <form action="/delete_stores" method="post">
            <button type='submit'>Delete All Stores</button>
        </form>

    <br>

    {% else %}
    <p> There are no brands to display yet.  Add one now.</p>
    {% endif %}

    <h3>Add a new brand:</h3>
    <form action="/add_brand" method= "post">
        <input id='store_id' name='store_id' type= "hidden" value= "{{ store.getId }}">
        <label for 'brand_name'>Brand Name</label>
        <input id = 'brand_id' name = 'brand_id' type='text'>
        <button type="submit">Submit</button>
</form>
    <button><a href="/">Home</a></button>
</div>
</body>
</html>
