<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Shoe Store</title>
</head>
<body>
<div class="container">
<h1>Shoe Store</h1>
<h3>Store and brands carried:</h3>
	<p> need list of all brands associated with a given store, which will need getBrands()</p>
	<p> need form to add a new brand which will need a post route that will render back to stores/{id}.html and still use addBrand($brand) & getBrands() if matching Store id</p>
	<p> need a button to delete the specific store deleteStore() (and all brands associated with it or only show if Store id is not empty?) - will need a delete route that will render back to index.html </p>
	<button><a href="/">Home</a></button>
</div>	
</body>
</html>