<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Shoe Store</title>
</head>
<body>

<div class="container">
    <h1><a href="/">Shoe Store</a></h1>

    <h3>Store List:</h3>
        {% if stores is not empty %}
        <h5>Click on any store to see a list of brands carried.</h5>
        <ul>
            {% for store in stores %}
            <li><a href="/stores/ {{ store.getId }}">{{ store.getStoreName }}</a></li>
            {% endfor %}
        </ul>
    <br>

	   {% else %}
	      <p> There are no stores yet.  Add one now.</p>
          {% endif %}
            <form action="/add_store" method= "post">
                <label for 'store_id'>Store Name</label>
                <input id="store_id" name="store_id" type="text" autofocus="autofocus">
                <button type="submit">Add store</button>
            </form>

    <br>
    <button><a href="/">Home</a></button>
</div>
</body>
</html>
